/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
/* Global */
.color1 {
  color: #081b87;
}
.color2 {
  color: rgb(26, 0, 82);
}
/* Navbar */
.startnav {
  margin-top: 10px;
}
.mydiv {
  border-radius: 10px;
  padding: 12px;
}
.parentdrop .unseendrop, .parentdrop .unseendrop a {
  display: none;
}
.parentdrop {
  padding-bottom: 22px;
}
.parentdrop:hover .unseendrop {
  padding: 0.6em 0.5em;
  display: block;
  border-radius: 0px;
  position: absolute;
  z-index: 1;
  top: 4rem;
  border-top: 2px solid #081b87;
  max-width: 235px;
}
.parentdrop:hover .unseendrop a {
  display: block;
}

/* Frontpage */
.newfont {
  font-size: 17px;
}
.imgedit {
  filter: contrast(120%);
}
.imgrad {
  border-bottom-left-radius: 105px;
  border-bottom-right-radius: 20px;
}